body {
  font-weight: 400;
  letter-spacing: 0.04em;
}

*:focus {
  outline: none;
  @media screen and (min-width: $desktop) {
    outline-color: $brand-color;
    outline-offset: 0;
    outline-style: solid;
    outline-width: 1px;
    border: none;
    border-radius: 0.2%;
  }
}

p,
h2,
h3 {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
