@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
html {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1268px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Titan One", cursive;
  font-weight: 400;
  letter-spacing: 0.04em;
}

*:focus {
  outline: none;
}
@media screen and (min-width: 1268px) {
  *:focus {
    outline-color: rgb(212, 20, 67);
    outline-offset: 0;
    outline-style: solid;
    outline-width: 1px;
    border: none;
    border-radius: 0.2%;
  }
}

.d-none {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 100%;
  background-color: #e17992;
  z-index: 2;
}

.mobile-menu__close-button {
  display: flex;
  justify-content: end;
  padding-right: 28px;
  padding-top: 23px;
}

.mobile-menu--toggle {
  fill: #e17992;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu--toggle svg {
  width: 14px;
  height: 14px;
  fill: #ffffff;
}
.mobile-menu--toggle svg:hover, .mobile-menu--toggle svg:focus {
  fill: #d41443;
}

.mobile-menu__button {
  width: 209px;
  height: 44px;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
}
.mobile-menu__button:hover, .mobile-menu__button:focus {
  background-color: #d41443;
  color: #ffffff;
}

.mobile-menu--flex-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 23px;
}

.mobile-menu__list {
  list-style-type: none;
  padding-top: 32px;
  padding-left: 21px;
}
.mobile-menu__list a {
  color: #ffffff;
  text-decoration: none;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.mobile-menu__list a:hover, .mobile-menu__list a:focus {
  color: #d41443;
}
.mobile-menu__list li {
  margin-bottom: 22px;
}

.navigation {
  background-color: #ffb8ca;
  width: 100%;
}

.nav {
  display: flex;
  max-width: 1280px;
}

.navigation__img {
  display: inline;
  width: 200px;
  height: 50px;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 50px;
  margin-left: 109px;
}
.navigation__list a {
  text-decoration: none;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  align-items: center;
}
.navigation__list a:hover, .navigation__list a:focus {
  color: #d41443;
}
.navigation__list li {
  display: flex;
  justify-content: center;
}

.navigation__button {
  width: 159px;
  height: 44px;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
}
.navigation__button:hover, .navigation__button:focus {
  background-color: #d41443;
  color: #ffffff;
}

.navigation--flex-button {
  position: absolute;
  top: 38px;
  right: 34px;
}

.mobile-menu--open {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 14px;
}

@media screen and (max-width: 767px) {
  .navigation__button {
    display: none;
  }
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: none;
  }
  .navigation__img {
    display: inline-flex;
    margin-top: 37px;
    margin-left: 34px;
  }
  .mobile-menu--open {
    top: 52px;
    right: 224px;
  }
}
@media screen and (min-width: 1268px) {
  .mobile-menu--open {
    display: none;
  }
  .navigation__logo {
    display: flex;
  }
  .navigation__list {
    display: flex;
  }
  .navigation--flex-button {
    position: absolute;
    top: 38px;
    right: 115px;
  }
}/*# sourceMappingURL=main.css.map */