<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title is-hidden">Advantages</h2>
    <!-- TUTAJ DAĆ VISUSAL HIDDEN W SEKCJE TITLE -->
    <ul class="advantages__list">
      <li class="advantages__item advantages__1-item">
        <p class="advantages__text">
          <span class="advantages__number">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__2-item">
        <p class="advantages__text">
          <span class="advantages__number">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__3-item">
        <p class="advantages__text">
          <span class="advantages__number">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- USUNĄĆ LINEAR GRADIENT ZE WSZYSTKIEGO!!!!! -->
<!-- Poprawić padding od spodu  -->
