<section class="container contacts">
  <div class="container">
    <ul class="contacts__list">
      <li class="contact__box">
        <div class="contact__tittle-backgroud">
          <h3 class="contact__tittle">CAFE</h3>
        </div>
        <h4>Chicago</h4>
        <p class="contact__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr />
        <div class="contacts__text">Monday - Friday</div>
        <span class="contact__accent-colour">06:00 AM - 10:00 PM</span>
        <div class="contacts__text">Saturday - Sunday</div>
        <span class="contact__accent-colour">08:00 AM - 16:00 PM</span>
        <hr />
        <p><a href="tel:+610383766284" class="contacts__list--e-mail">+61(0) 383 766 284</a></p>
        <p>
          <a href="mailto:noreply@envato.com" class="contacts__list--e-mail">noreply@envato.com</a>
        </p>
      </li>
      <li class="contact__box">
        <div class="contact__tittle-backgroud">
          <h3 class="contact__tittle-green">FOODTRUCK</h3>
        </div>
        <h4>Los Angeles</h4>
        <p class="contact__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr />
        <div class="contacts__text">Monday - Friday</div>
        <span class="contact__accent-colour">06:00 AM - 10:00 PM</span>
        <div class="contacts__text">Saturday - Sunday</div>

        <span class="contact__accent-colour">08:00 AM - 16:00 PM</span>
        <hr />
        <p><a href="tel:+610383766284" class="contacts__list--e-mail">+61(0) 383 766 284</a></p>
        <p>
          <a href="mailto:noreply@envato.com" class="contacts__list--e-mail">noreply@envato.com</a>
        </p>
      </li>
      <li class="contact__box">
        <div class="contact__tittle-backgroud">
          <h3 class="contact__tittle">CAFE</h3>
        </div>
        <h4>New York</h4>
        <p class="contact__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr />
            <div class="contacts__text">Monday - Friday</div>
        <span class="contact__accent-colour">06:00 AM - 10:00 PM</span>
        <div class="contacts__text">Saturday - Sunday</div>
        <span class="contact__accent-colour">08:00 AM - 16:00 PM</span>
        <hr />
        <p><a href="tel:+610383766284" class="contacts__list--e-mail">+61(0) 383 766 284</a></p>
        <p>
          <a href="mailto:noreply@envato.com" class="contacts__list--e-mail">noreply@envato.com</a>
        </p>
      </li>
    </ul>
  </div>
</section>
