<section class="customer-reviews section">
  <div class="container">
    <div class="customer-reviews__slide customer-reviews__slide--main">
      <img
        class="customer-reviews__img"
        src="./images/CustomerReviews/customer-curlyhair.png"
        srcset="
          ./images/CustomerReviews/customer-curlyhair.png    85w,
          ./images/CustomerReviews/customer-curlyhair2x.png 170w
        "
        sizes="85px"
        alt="customer photo"
      />

      <div class="customer-reviews__box">
        <div class="customer-reviews__underline-box">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div>
        <div class="customer-reviews__dots">
          <svg width="4" height="4">
            <use href="./images/icons.svg#icon-little-dot"></use>
          </svg>
          <svg width="4" height="4">
            <use href="./images/icons.svg#icon-little-dot"></use>
          </svg>
          <svg width="4" height="4">
            <use href="./images/icons.svg#icon-little-dot"></use>
          </svg>
        </div>
        <p class="customer-reviews__reviewer-name">Emily, Los Angeles</p>
      </div>
    </div>

    <div class="customer-reviews__pagination">
      <svg width="12" height="12">
        <use href="./images/icons.svg#icon-house"></use>
      </svg>
      <svg width="12" height="12">
        <use href="./images/icons.svg#icon-big-dot"></use>
      </svg>
      <svg width="12" height="12">
        <use href="./images/icons.svg#icon-big-dot"></use>
      </svg>
    </div>
  </div>
</section>
