<section class="hero container">
  <!-- Poniższsego diva dodałem tylko w celu roboczego wypozycjonowania nagłówka -->
  <div class="help">logo</div>
  <h1 class="hero-title">
    ice cream made with <span class="hero-title__highlighted">passion</span>
  </h1>
  <ul class="hero-list">
    <li>
      <button class="hero-list__btn hero-list__btn--dark" type="button">
        <a class="hero-list__link" href="#products">Products</a>
      </button>
    </li>
    <li>
      <button class="hero-list__btn hero-list__btn--light" type="button">
        <a class="hero-list__link" href="#howitsmade">How it’s made?</a>
      </button>
    </li>
  </ul>
  <div class="header-img">
    <picture class="header-img__icecream">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/Hero-header/hero-header-icecream-desktop.png   1x,
          ./images/Hero-header/hero-header-icecream-desktop2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/Hero-header/hero-header-icecream-tablet.png   1x,
          ./images/Hero-header/hero-header-icecream-tablet2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/Hero-header/hero-header-icecream-mobile.png   1x,
          ./images/Hero-header/hero-header-icecream-mobile2x.png 2x
        "
        type="image/png"
      />
      <img src="./images/Hero-header/hero-header-eclipse-mobile.png" alt="icecream photo" />
    </picture>
    <picture class="header-img__elipse">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/Hero-header/hero-header-eclipse-desktop.png   1x,
          ./images/Hero-header/hero-header-eclipse-desktop2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/Hero-header/hero-header-eclipse-tablet.png   1x,
          ./images/Hero-header/hero-header-eclipse-tablet2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/Hero-header/hero-header-eclipse-mobile.png   1x,
          ./images/Hero-header/hero-header-eclipse-mobile2x.png 2x
        "
        type="image/png"
      />
      <img src="./images/Hero-header/hero-header-eclipse-mobile.png" alt="icecream photo" />
    </picture>
  </div>
</section>
