<section class="header container">
  <div class="hero">
    <!-- TUTAJ DAĆ NAWIGACJĘ -->
    <div class="header-wrapper">
      <div class="wrapper-left">
        <h1 class="hero-title">
          ice cream made with <span class="hero-title__highlighted">passion</span>
        </h1>
        <div class="btn-wrapper">
          <button class="hero-btn hero-btn--dark" type="button">
            <a class="hero-btn__link" href="#products">Products</a>
          </button>
          <button class="hero-btn hero-btn--light" type="button">
            <a class="hero-btn__link" href="#howitsmade">How it’s made?</a>
          </button>
        </div>
        <div class="header-img">
          <picture class="header-img__icecream">
            <source
              media="(min-width: 1268px)"
              srcset="
                ./images/Hero-header/hero-header-icecream-desktop.png   1x,
                ./images/Hero-header/hero-header-icecream-desktop2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Hero-header/hero-header-icecream-tablet.png   1x,
                ./images/Hero-header/hero-header-icecream-tablet2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/Hero-header/hero-header-icecream-mobile.png   1x,
                ./images/Hero-header/hero-header-icecream-mobile2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/Hero-header/hero-header-eclipse-mobile.png" alt="icecream photo" />
          </picture>
          <picture class="header-img__elipse">
            <source
              media="(min-width: 1268px)"
              srcset="
                ./images/Hero-header/hero-header-eclipse-desktop.png   1x,
                ./images/Hero-header/hero-header-eclipse-desktop2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Hero-header/hero-header-eclipse-tablet.png   1x,
                ./images/Hero-header/hero-header-eclipse-tablet2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/Hero-header/hero-header-eclipse-mobile.png   1x,
                ./images/Hero-header/hero-header-eclipse-mobile2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/Hero-header/hero-header-eclipse-mobile.png" alt="icecream photo" />
          </picture>
        </div>
        <div class="hero-milk">
          <div class="hero-milk__img-wrapper">
            <picture class="header-img__milk">
              <source
                media="(min-width: 1268px)"
                srcset="
                  ./images/Hero-header/hero-header-milk-desktop.png   1x,
                  ./images/Hero-header/hero-header-milk-desktop2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/Hero-header/hero-header-milk-tablet.png   1x,
                  ./images/Hero-header/hero-header-milk-tablet2x.png 2x
                "
                type="image/png"
              />
              <img src="./images/Hero-header/hero-header-milk-desktop.png" alt="icecream photo" />
            </picture>
          </div>
          <div class="hero-milk__information">
            <p class="hero-milk__descritpion">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <a class="hero-icon" href="">
              <svg>
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="wrapper-right">
        <ul class="hero-stats">
          <li class="hero-stats__item">
            <p class="hero-stats__num">16</p>
            <p class="hero-stats__description">cafes</p>
          </li>
          <li class="hero-stats__item">
            <p class="hero-stats__num">23</p>
            <p class="hero-stats__description">food trucks</p>
          </li>
        </ul>
        <picture class="header-img__woman">
          <source
            media="(min-width: 1268px)"
            srcset="
              ./images/Hero-header/hero-header-woman-desktop.png   1x,
              ./images/Hero-header/hero-header-woman-desktop2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Hero-header/hero-header-woman-tablet.png   1x,
              ./images/Hero-header/hero-header-woman-tablet2x.png 2x
            "
            type="image/png"
          />
          <img src="./images/Hero-header/hero-header-woman-desktop.png" alt="icecream photo" />
        </picture>
      </div>
    </div>
  </div>
</section>
