<header class="navigation">
  <div class="container nav">
    <a href="index.html"
      ><img
        class="navigation__img"
        src="./images/Logo/logo.png"
        alt="icecream logo"
        srcset="./images/Logo/logo2x.png 1x, ./images/Logo/logo2x.png 2x"
    /></a>

    <ul class="navigation__list">
      <li><a href="">Home</a></li>
      <li><a href=""> About us</a></li>
      <li><a href="">How it's made?</a></li>
      <li><a href="">Our products</a></li>
      <li><a href="">Contact</a></li>
    </ul>

    <svg class="mobile-menu--open">
      <use href="/images/icons.svg#icon-burger"></use>
    </svg>

    <div class="navigation--flex-button">
      <button class="navigation__button">Buy now</button>
    </div>
    <!------Menu-Mobile--->

    <div class="mobile-menu d-none">
      <div class="mobile-menu__close-button">
        <button class="mobile-menu--toggle">
          <svg><use href="./images/icons.svg#icon-close"></use></svg>
        </button>
      </div>

      <div class="mobile-menu--flex-button">
        <button class="mobile-menu__button">Buy now</button>
      </div>

      <ul class="mobile-menu__list">
        <li><a href="">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">How it's made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
