<section class="section products" id="ourproducts">
  <div class="container">
    <p class="products__sub-title">100% natural</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list">
      <li class="products__list-item">
        <h3 class="products__name">ICE CREAM</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__btn">
          <svg class="products__btn-icon" width="40px" height="40px">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__list-item">
        <h3 class="products__name">ICE COFFEE</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__btn">
          <svg class="products__btn-icon" width="40px" height="40px">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__list-item">
        <h3 class="products__name">MILKSHAKES</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" id="product-read" class="products__btn">
          <svg class="products__btn-icon" width="40px" height="40px">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
