.advantages {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #fff5f6;
}

@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 300px;
  }
}
@media screen and (min-width: 480px) {
  .advantages__text {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 300px;
  }
}

@media screen and (min-width: 480px) {
  .advantages__list {
    display: block;
  }
}

.advantages__title {
  position: absolute;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #d41443;
  font-family: 'Titan One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.advantages__list {
  list-style-type: none;
}
.advantages__item {
  width: 230px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 16px;
  }
}

.advantages__1-item {
  &::before {
    content: '';
    width: 33px;
    background-image: url(../images/Advantages/milkbucket.png);
  }
}
.advantages__2-item {
  &::before {
    content: '';
    width: 50px;
    background-image: url(../images/Advantages/applekbucket.png);
  }
}
.advantages__3-item {
  &::before {
    content: '';
    width: 50px;
    background-image: url(../images/Advantages/heart.png);
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
}
.advantages__number {
  display: block;
  margin-bottom: 30px;
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and(min-width:768px) {
  .advantages {
    padding-bottom: 64px;
  }

  .advantages__list {
    display: flex;
    justify-content: center;
    gap: 85px;
  }
  @media screen and (max-width: 1200px) {
    .advantages__list {
      gap: 140px;
    }
  }

  .advantages__item {
    display: block;
    width: 180px;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }

    &::before {
      content: '';
      margin-bottom: 36px;
    }
  }

  .advantages__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 174%;
  }

  .advantages__number {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-transform: none;
  }
}

@media screen and(max-width:768px) {
  .advantages__list {
    // margin-left: -40px;
    gap: 50px;
  }
}
@media screen and(min-width:1280px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .advantages__list {
    justify-content: center;
    display: flex;
  }
  .advantages__item {
    &::before {
      content: '';
      margin-bottom: 40px;
    }
  }
  .advantages__item {
    display: block;
    width: 400px;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }

    &::before {
      content: '';
      margin-bottom: 36px;
    }
  }
  .advantages__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    width: 288px;
  }

  .advantages__number {
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
  }
}

.advantages__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 34px;
    padding-right: 34px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 115px;
    padding-right: 115px;
    width: 100%;
  }
}
